package middleware

import (
	restful "github.com/emicklei/go-restful/v3"
)

func AuthzMiddleware(req *restful.Request, resp *restful.Response, chain *restful.FilterChain) {
	chain.ProcessFilter(req, resp)
}
