package configs

func CustomModelMigrate() (models []interface{}) {
	// Append all your custom models
    // Example: using variadique to append slice elements:
    // models = append(models, package.MigrateModels()...)
    // Example: adding model to append slice elements:
    // models = append(models, package.MyModel{})
	return
}
