package configs

func CustomModelMigrate() (models []interface{}) {
	// Append all your custom models
    // Example using variadique to append slice elements:
    // models = append(models, billing.MigrateModels()...)
	return
}
