name:  "{{.App.Name}}"
port:  {{.App.Port}}
devmode: false
auth: {{.App.Auth }}
{{ if .App.Auth }}{{.App.AuthType}}: {{ uuidWithOutHyphen }}{{ end }}
database:
  driver: "{{.App.DatabaseType}}"
  host: "127.0.0.1"
  {{ if eq .App.DatabaseType  "postgres" }}port: 5432{{ else }}port: 3306{{ end }}
  name: "{{.App.Name}}"
  username: "{{.App.Name}}"
  password: "{{.App.Name}}"