package configs

import (
	"gorm.io/gorm"
	{{- range $package, $module := . }}
	"{{$module}}/pkg/{{$package}}"
	{{ end -}}
)

func MigrateSchema(db *gorm.DB) {
	{{- range $package, $module := . }}
	db.AutoMigrate({{$package}}.Migrate()...)
	{{ end }}
	if len(CustomModelMigrate()) > 0 {
		db.AutoMigrate(CustomModelMigrate()...)
	}
}