package {{ .Package}}

// default{{ .Name | title }}Factory implements the default {{ .Name | title }}Factory.
type default{{ .Name | title }}Factory struct{}

// init registers the default {{ .Name | title }}Factory in the app.
func init() {
	var {{ .Name }} default{{ .Name | title }}Factory
	Register("default", {{ .Name }})
}

// SayHello implements the behavior for the default {{ .Name | title }}Factory.
func (f default{{ .Name | title }}Factory) SayHello() (result string) {
	return ""
}
